<div class='main'>
  <h2> My classes </h2>

  <% @enrollments.each do |enrollment| %>
    <div class="schedules-container">
      <div class="schedules-item"> <%= link_to enrollment.schedule.title, schedule_path(enrollment.schedule.id) %></div><div class="schedules-item"><%= l(enrollment.date) %>
      </div>
    </div>
  <% end %>


  <% @classes_teaching.each do |klass| %>
    <div class="schedules-container">
      <div class="schedules-item"> <%= link_to klass.title, schedule_path(klass.id) %>
      </div>
    </div>
  <% end %>

</div>
