<div class="main">
  <h2>All Classes</h2>

  <% @schedules.each do |schedule| %>


    <div>
      <%= link_to schedule.title, schedule_path(schedule.id) %> | <%= l(schedule.start) %>
    </div>


  <% end %>
  </div>
