body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
  -moz-boz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;

}
a {
  text-decoration: none;
}
.sydneyYoga{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

h1 {
  padding-left: 0.6em;
  font-family: 'Beth Ellen', cursive;
  margin: 0;
  color: rgb(61, 62, 62)
  /* font-size: 90%; */
}

.logo {
  display: inline-block;
  width: 60%;
  text-align: right;
}
.logo img {
  max-width: 4.5em;
  padding-right: 1.3em;
  padding-top: 1.0em;
}
nav {
  /* border: 1px solid orange; */
  background-color: rgba(252, 237, 38, 0.89);
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 2.7em;
}

nav div{
  display: inline-block;
  /* border: 1px red solid; */
  height: 100%;

}


#leftNav {
  width: 50%;
  text-align: left;

}

#rightNav {
  width: 50%;
  text-align: right;
}

nav ul {
  height: 100%;
  margin: 0;
}

nav li {
  display: inline-block;
  height: 100%;
  padding: 0.9em;
  vertical-align: middle;
}

nav a{
  color: black;

}

nav li:hover{
  border-bottom: 3px solid black;
}

.main {
  padding: 1em;
  min-height: 70vh;
}

.login h2 {
  margin-top: 0;
  text-align: center;
}

.login {
  height: 30em;
  position: relative;
}

.blur {
  background-image: url("https://images.unsplash.com/photo-1489679124346-536a843e31ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
}


.transparent {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #f1f1f1;
  /* relative to parent */
  position: absolute;

  top: 50%;
  left: 50%;
  /* this centers it, otherwise off center because it's looking at top left corner*/
  transform: translate(-50%, -50%);
  padding: 1em;

}

.nothingatall {
  position: relative;
  top: -20em;
  left: 37.5%;
  /* might need js to set margin-botton to height */
  margin-bottom: -12em;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  width: 25%;
  height: auto;
  padding: 1em;
}


#myLogin input {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: none;
  /* border-bottom: solid 1px white; */
}

#loginBtn {
  /* background-color: purple; */
}

.description {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.classImg {
  padding-top: 2em;

}

.show {
  height: 300px;
  border-radius: 10px;
  display: inline-block;
}

#map {
  height: 400px;
  width: 400px;
  display: inline-block;
  width: 60%;
  border-radius: 10px;
}

.schedules-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.schedules-item:first-child  {
  width: 40%;
}

.schedules-item {
  padding: 1% 0 1% 0;
}

footer {
  padding: 1em;
  background-color: rgba(252, 237, 38, 0.89);

}
