body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
  -moz-boz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;

}
a {
  text-decoration: none;
  color: rgba(215, 82, 6, 1);
}

a:hover {
  color: rgba(215, 82, 6, 0.6);;
}
.header-container {
  padding: 1% 2% 1% 2%;
  display: flex;
  height: 12vh;

}

.sydneyYoga{
  width: 90%; */
}


h1 {
  /* padding-left: 0.3em; */
  font-family: 'Beth Ellen', cursive;
  margin: 0;
  color: rgb(61, 62, 62);
  /* display: inline-block; */
  /* font-size: 90%; */
}

.logo > img{
  /* height: 100%; */
  width: 100%;
  max-width: 4.5em;
  /* text-align: left; */
}

.logo {
  width: 10%;
}


nav {
  /* border: 1px solid orange; */
  background-color: rgba(252, 237, 38, 0.89);
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 2.7em;
}

nav div{
  display: inline-block;
  /* border: 1px red solid; */
  height: 100%;

}
nav a:hover {
  color: black;
}


#leftNav {
  width: 50%;
  text-align: left;

}

#rightNav {
  width: 50%;
  text-align: right;
  font-size: 70%;
}

nav ul {
  height: 100%;
  margin: 0;
}

nav li {
  display: inline-block;
  height: 100%;
  padding: 0.9em 0.4em 0.9em 0.4em;
  vertical-align: middle;
}

#rightNav li {
  padding: 1.4em 1.4em 0.9em 0.4em;
}

nav a{
  color: black;

}

nav li:hover{
  border-bottom: 3px solid black;
}

.main {
  padding: 2%;
  min-height: 75vh;
}

.login h2 {
  margin-top: 0;
  text-align: center;
}

.login {
  height: 30em;
  position: relative;
}

.blur {
  background-image: url("https://images.unsplash.com/photo-1489679124346-536a843e31ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
}


.transparent {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #f1f1f1;
  /* relative to parent */
  position: absolute;

  top: 50%;
  left: 50%;
  /* this centers it, otherwise off center because it's looking at top left corner*/
  transform: translate(-50%, -50%);
  padding: 1em;

}


#myLogin input {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: none;
  /* border-bottom: solid 1px white; */
}

#loginBtn {
  /* background-color: purple; */
}

.description-container {
  display: flex;

}

.description-item {
  width: 50%;
}

.classImg {
  padding-top: 2.5em;
  width: 50%;
}

.dates {
  margin-bottom: 0;
}

.description-item ul{
  margin-top: 0;
}

.description-item h2 {
  font-size: 2em;
  margin: 2% 0;
}

.show {
  /* height: 50vh; */
  height: auto;
  max-width: 100%;
  border-radius: 2%;
  -webkit-box-shadow: 6px 7px 14px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 14px -6px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 14px -6px rgba(0,0,0,0.75);

}

#map {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  margin-top: 2%;
}

@media (min-width: 250px) and (max-width: 600px) {
  #map {
    width: 100%;
  }
  .description-item {
    width: 100%;
  }
  .description-container {
    flex-direction: column;
  }

}

.schedules-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.schedules-item:first-child  {
  width: 30%;
}

.schedules-item {
  padding: 1% 0 1% 0;
}

.btn {
  display: inline-block;
  margin: 1%;
  background-color: transparent;
  padding: 0.8%;
  font-size: 0.9em;
  border-radius: 3px;
  transition: all 0.2s;
}

.btn a {
  color: black;
}


.cancel {
  border: 2px solid rgb(233, 5, 5);
}


.book {
  border: 2px solid #299e0c;
}

.book:hover{
  background-color: #299e0c;
}

.btn a:hover {
  color: white;
}

.cancel:hover{
  background-color: rgb(233, 5, 5);
  color: white;
}

.account {
  margin: 2% 0 0 0;
}

.form {

  margin-top: 0;
  padding: 2% 0;
  width: 65%;
}

.schedule {
  width: 100%;
}

.form-input {
  margin: 2% 0;
  padding: 1.5%;
  border: 1px solid rgb(61, 62, 62);;
  border-radius: 5px;
  width: 50%;
}



.form-form {
  padding: 2.5% 0;

}

.submit {
  background-color: white;
}

.submit:hover {
  color: white;
}

.btn1 {
  display: inline-block;
  margin: 1%;
  background-color: rgba(242, 136, 25, 1);
  padding: 0.8%;
  font-size: 0.9em;
  border-radius: 3px;
  transition: all 0.2s;
}

.btn1 a {
  color: white;
}

.btn1:hover {
  background-color: rgba(242, 136, 25, 0.8);

}

footer {
  padding: 1em;
  background-color: rgba(252, 237, 38, 0.89);
  font-size: 70%;

}
